openapi: '3.0.3'
info:
  description:
  version: 2023.8.26
  title: Open Gov Data
  
servers:
  - url: https://opendata.cwb.gov.tw/api/v1/rest/datastore
  
paths:
  /F-A0021-001:
    get:
      operationId: F-A0021-001
      parameters:
      - name: Authorization
        required: true
        in: query
        schema:
          type: string
      - name: limit
        required: false
        in: query
        schema:
          type: string
      - name: Date
        required: false
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: A success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/F-A0021-001'

components:
  schemas:
    F-A0021-001:
      type: object
      properties:
        success:
          type: string
        result:
          $ref: '#/components/schemas/Result'
        records:
          $ref: '#/components/schemas/Records'

    Result:
      type: object
      properties:
        resource_id:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'

    Field:
      type: object
      properties:
        id:
          type: string
        type:
          type: string

    Records:
      type: object
      properties:
        dataid:
          type: string
        note:
          type: string
        TideForecasts:
          type: array
          items:
            $ref: '#/components/schemas/TideForecast'

    TideForecast:
      type: object
      properties:
        Location:
          $ref: '#/components/schemas/Location'

    Location:
      type: object
      properties:
        LocationId:
          type: string
        LocationName:
          type: string
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
        TimePeriods:
          $ref: '#/components/schemas/TimePeriods'

    TimePeriods:
      type: object
      properties:
        Daily:
          type: array
          items:
            $ref: '#/components/schemas/DailyTimePeriod'

    DailyTimePeriod:
      type: object
      properties:
        Date:
          type: string
          format: date
        LunarDate:
          type: string
          format: date
        TideRange:
          type: string
        Time:
          type: array
          items:
            $ref: '#/components/schemas/Time'

    Time:
      type: object
      properties:
        DateTime:
          type: string
          format: date-time
        Tide:
          type: string
        TideHeights:
          $ref: '#/components/schemas/TideHeights'

    TideHeights:
      type: object
      properties:
        AboveTWVD:
          type: string
        AboveLocalMSL:
          type: integer
        AboveChartDatum:
          type: integer

    test:
      type: object
      properties:
        message:
          type: string
      required:
        - message
  securitySchemes:
    oauth_2_0:
      type: oauth2
      description: Spotify supports OAuth 2.0 for authenticating all API requests.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.spotify.com/authorize
          tokenUrl: https://accounts.spotify.com/api/token
          scopes:
            app-remote-control: |
              Communicate with the Spotify app on your device.
            playlist-read-private: |
              Access your private playlists.
            playlist-read-collaborative: |
              Access your collaborative playlists.
            playlist-modify-public: |
              Manage your public playlists.
            playlist-modify-private: |
              Manage your private playlists.
            user-library-read: |
              Access your saved content.
            user-library-modify: |
              Manage your saved content.
            user-read-private: |
              Access your subscription details.
            user-read-email: |
              Get your real email address.
            user-follow-read: |
              Access your followers and who you are following.
            user-follow-modify: |
              Manage your saved content.
            user-top-read: |
              Read your top artists and content.
            user-read-playback-position: |
              Read your position in content you have played.
            user-read-playback-state: |
              Read your currently playing content and Spotify Connect devices information.
            user-read-recently-played: |
              Access your recently played items.
            user-read-currently-playing: |
              Read your currently playing content.
            user-modify-playback-state: |
              Control playback on your Spotify clients and Spotify Connect devices.
            ugc-image-upload: |
              Upload images to Spotify on your behalf.
            streaming: |
              Play content and control playback on your other devices.
